body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background-color: rgba(0,0,0,0.02);
  font-size: 18px;
}

input {
  /* fix normalize.css input height */
  line-height: initial !important;
}
